 h3{
 font-size: 1.2em;
 font-family: serif;
}
 .b{
 background: #8645f4;
 padding: 15px 42px;
 text-transform: uppercase;
 text-decoration: none;
 color: #fff;
 
}
 .c{
 color: grey;
 text-transform: uppercase;
 
}